<main class="h-full bg-zinc-600">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Anmelden</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="bg-slate-50 py-8 px-4 shadow-xl sm:rounded-lg sm:px-10">
        @if (loggedInAs()) {
          <p class="text-sm text-center text-gray-900">Angemeldet als {{ loggedInAs() }}.</p>
        } @else {
        <form class="space-y-6" (submit)="onSubmit($event)">
          <div>
            <label for="usernameOrEmail" class="block text-sm/6 font-medium text-gray-900">Nutzername oder E-Mail</label>
            <div class="mt-2">
              <input placeholder="Nutzername oder E-Mail" [formField]="loginForm.usernameOrEmail"
              id="usernameOrEmail" type="text"
              [class]="'block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-gray-900
              outline-2 -outline-offset-1 placeholder:text-gray-500 focus:outline-2
              focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6 '
              + (isInvalid(loginForm.usernameOrEmail()) ? 'outline-red-900' : 'outline-black/10')" />
            </div>
            @if (isInvalid(loginForm.usernameOrEmail())) {
              <p class="mt-2 text-sm text-red-700">{{ errorMessage(loginForm.usernameOrEmail()) }}</p>
            }
          </div>
          <div>
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Passwort</label>
            <div class="mt-2">
              <input placeholder="Passwort" [formField]="loginForm.password"
              id="password" type="password"
              [class]="'block w-full rounded-md bg-white/5 px-3 py-1.5
              text-base text-gray-900 outline-2 -outline-offset-1
              placeholder:text-gray-500
              focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6 '
              + (isInvalid(loginForm.password()) ? 'outline-red-900' : 'outline-black/10')" />
            </div>
            @if (isInvalid(loginForm.password())) {
              <p class="mt-2 text-sm text-red-700">{{ errorMessage(loginForm.password()) }}</p>
            }
          </div>
          @if (serverError()) {
            <p class="text-sm text-red-700">{{ serverError() }}</p>
          }
          <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500
            px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400
            focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            [disabled]="loginForm().invalid()">
            Anmelden</button>
          </div>
          <p class="text-sm text-center text-gray-700">
            Noch kein Konto? <a routerLink="/register" class="font-medium text-indigo-600 hover:text-indigo-500">Jetzt registrieren</a>
          </p>
        </form>
        }
      </div>
    </div>
  </div>
</main>
